<div class="container">
	<h1>Accueil</h1>
	<h3>Informations en base de données :</h3>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-3 panel panel-default">
            <img class="logo" src="assets/img/A.png" alt="">Photon<span class="label label-info">1</span>
        </div>
        <div class="col-sm-offset-1 col-sm-3 panel panel-default">
            <img class="logo" src="assets/img/B.png" alt="">Evènements<span class="label label-info">{{nbre.total}}</span>
        </div>
        <div class="col-sm-offset-1 col-sm-3 panel panel-default">
            <img class="logo" src="assets/img/C.png" alt="">Alertes<span class="label label-danger">?</span>
        </div>
    </div>
</div>
